/* You can add global styles to this file, and also import other style files */

@import 'responsive';

:root {
		@include xxl {
			--document-width: 832px;
			body {
				display: flex;
			}
		}
	
		@include xl {
			--document-width: 832px;
			body {
				display: flex;
			}

		}

		@include lg {
			--document-width: 832px;
			body {
				display: flex;
			}
		}

		@include md {
			--document-width: 100vw;
			body {
				display: flex;
			}
		}

		@include sm {
			--document-width: 832px;
			body {
				display: block;		
			}
		}

		@include xs {
			--document-width: 832px;
			body {
				display: block;		
			}
		}

    // --document-width: 100vw;
    --font-size: calc(var(--document-width) / 832 * 16);
    --font-color: #050505;

    font-size: var(--font-size);
    color: var(--font-color);
}

body {
    justify-content: center;

    background-color: #525659;
    font-family: 'EB Garamond', serif;

    margin: 0px;
}
