:host {
    display: block;

    
    article {
        background-color: white;
	  	  display: block;
        width: var(--document-width);
        height: calc(var(--document-width) / 832 * 1080);
				overflow: hidden;
    }

    div.contents {
        --margin-top: calc(var(--document-width) / 832 * 43);
        --margin-bottom: calc(var(--document-width) / 832 * 43);
        --margin-left: calc(var(--document-width) / 832 * 73);
        --margin-right: calc(var(--document-width) / 832 * 73);
        margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
        width: calc(100% - var(--margin-left) - var(--margin-right));
        height: calc(100% - var(--margin-top) - var(--margin-bottom));
				overflow: hidden;

        ::ng-deep {

						h1, h2, h3 {
								font-family: 'EB Garamond', 'Sawarabi Gothic', serif;
						}

            h1, h2, h3, h4, h5, h6, p, ul {
                font-weight: normal;
                margin-block-start: 0;
                margin-block-end: 0;
            }

            a, a:link, a:hover, a:visited, a:active {
                text-decoration: none;
								color: #454CFC;
            }


            h1 {
                text-align: center;
                font-weight: 400;
                font-size: 2rem;
                letter-spacing: 0.1rem;
                width: 100%;
                height: 2rem;
                margin-block-start: 1rem;
                margin-block-end: 1rem;
            }

            h2 {
                font-weight: 600;
                font-size: 1rem;;
                width: 100%;
                height: calc(1rem + 0.3rem);
                letter-spacing: 0.065rem;
                border-bottom: solid 0.15rem;
                margin-bottom: 0.3rem;
            }

            h3 {
                font-weight: normal;
                font-size: 1rem;
                line-height: 1.2rem;
                width: 100%;
                height: 1rem;
                letter-spacing: 0.065rem;
                padding-left: calc(var(--document-width) / 832 * 22);
                margin-bottom: 0.3rem;
            }

            strong {
                font-weight: 600;
            }

            p {
                line-height: 1.2rem;
                &:first-of-type {
                    text-align: center;
                }
    
                &:nth-of-type(n+1) {
                    // padding-top: 0.3rem;
										padding-left: calc(var(--document-width) / 832 * 22);

                    padding-bottom: 1.13rem;
                }
            }

            ul {
                letter-spacing: 0.02rem;
                line-height: 1.2rem;
                padding-inline-start: 3.3rem;
                padding-bottom: 1.13rem;
            }

        }

    }
}
