<router-outlet></router-outlet>
<article>
	<div class="qr" (click)="changeQRVisibility()" [ngClass]="{'visible': isQRVisible}" value="クリックすると消えます。">
		<qrcode
			colorDark="#1f1f1f"
			colorLight="#fff"
			[qrdata]="appService.getCurrentURL()" 
			[width]="100" 
			errorCorrectionLevel="Q"
			elementType="img"
			[margin]="0"
			[usesvg]="true"
		></qrcode>
		<img class="badge" src="assets/img/badge.svg">
	</div>

	<div class="contents" [innerHTML]="appService.resumeInMD | MarkdownToHtml"></div>
	
	<div class="options">
		<span><a [href]="appService.target">Download "{{ appService.targetBasename }}"</a></span>
		<span (click)="printPdf()">Print  as PDF</span>
	</div>
</article>
<input
  type="file"
  (change)="selectedFiles($event.target.files)"
  value="This is Hidden But You can register file by this input."
  #fileInput
  style="display: none;"
>
